In [4]:
%pip install pandas

Collecting pandasNote: you may need to restart the kernel to use updated packages.

  Downloading pandas-2.1.2-cp39-cp39-win_amd64.whl (10.8 MB)
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\chtank\appdata\roaming\python\python39\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
Collecting numpy<2,>=1.22.4
  Downloading numpy-1.26.1-cp39-cp39-win_amd64.whl (15.8 MB)
Requirement already satisfied: six>=1.5 in c:\users\chtank\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pytz, numpy, pandas
Successfully installed numpy-1.26.1 pandas-2.1.2 pytz-2023.3.post1 tzdata-2023.3

  WARNING: The script f2py.exe is installed in 'c:\Users\CHTANK\AppData\Local\Programs\Python\Python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
WARNING: You are using pip version 21.2.4; however, version 23.3.1 is available.
You should consider upgrading via the 'c:\Users\CHTANK\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [5]:
%pip install numpy

Requirement already satisfied: numpy in c:\users\chtank\appdata\local\programs\python\python39\lib\site-packages (1.26.1)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.4; however, version 23.3.1 is available.
You should consider upgrading via the 'c:\Users\CHTANK\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [7]:
import pandas as pd
import numpy as np

In [10]:
ratings = pd.read_csv(r"..\..\data\ml-25m\ratings.csv")

In [11]:
ratings

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
1              1      306     3.5  1147868817
2              1      307     5.0  1147868828
3              1      665     5.0  1147878820
4              1      899     3.5  1147868510
...          ...      ...     ...         ...
25000090  162541    50872     4.5  1240953372
25000091  162541    55768     2.5  1240951998
25000092  162541    56176     2.0  1240950697
25000093  162541    58559     4.0  1240953434
25000094  162541    63876     5.0  1240952515

[25000095 rows x 4 columns]